__pycache__/
*.pyc
db.sqlite3
venv/
.vscode/
*/_pycache_/
/node_modules
.env
mix-manifest*
static/css/*
static/js/*
npm-debug.log
/documentos
/documentos2
/logs
/env/
/static/img/qr/
/static/img/qr_actas/
media/*.*
media_/*.*
"media/"
