[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.4.1"
certifi = "==2021.10.8"
cffi = "==1.15.0"
charset-normalizer = "==2.0.10"
cryptography = "==36.0.1"
defusedxml = "==0.7.1"
django = "==3.2.5"
django-allauth = "==0.47.0"
django-environ = "==0.4.5"
django-extensions = "==3.1.3"
djangorestframework = "==3.12.4"
humanize = "==3.11.0"
idna = "==3.3"
ipython-genutils = "==0.2.0"
nose = "==1.3.7"
numexpr = "==2.7.3"
numpy = "==1.21.2"
oauthlib = "==3.1.1"
pillow = "==8.3.2"
psycopg2-binary = "==2.9.1"
pycparser = "==2.21"
pyjwt = "==2.3.0"
pyopen = "==0.0.7"
python-dateutil = "==2.8.2"
python-magic = "==0.4.25"
python-magic-bin = "==0.4.14"
python3-openid = "==3.2.0"
pytz = "==2021.1"
requests = "==2.27.1"
requests-oauthlib = "==1.3.0"
six = "==1.16.0"
sqlparse = "==0.4.2"
tables = "==3.6.1"
traitlets = "==5.0.5"
urllib3 = "==1.26.8"
werkzeug = "==2.0.1"
xlrd = "==2.0.1"
django-cors-headers = "==3.7.0"
django-filter = "==21.1"
lxml = "==4.6.4"
psycopg2 = "==2.9.1"
python-docx = "==0.8.11"

[dev-packages]

[requires]
python_version = "3.7"
